-- ============================================================
-- CARDAPPIO â€” Migration 001: Foundation
-- ============================================================
-- Creates: extensions, helper functions, profiles,
--          user_preferences, app_settings, audit_logs
-- Includes: triggers, indexes, RLS policies
-- ============================================================

-- 1. Extensions
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
CREATE EXTENSION IF NOT EXISTS "pg_trgm";  -- For future text search

-- 2. Helper function: auto-update updated_at
CREATE OR REPLACE FUNCTION touch_updated_at()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- ============================================================
-- 3. Table: profiles
-- ============================================================
CREATE TABLE profiles (
  id          UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  email       TEXT NOT NULL,
  full_name   TEXT,
  avatar_url  TEXT,
  role        TEXT NOT NULL DEFAULT 'user'
              CHECK (role IN ('user', 'admin', 'super_admin')),
  status      TEXT NOT NULL DEFAULT 'active'
              CHECK (status IN ('active', 'inactive', 'suspended')),
  last_seen_at        TIMESTAMPTZ,
  onboarding_completed_at TIMESTAMPTZ,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Indexes
CREATE UNIQUE INDEX idx_profiles_email ON profiles(email);
CREATE INDEX idx_profiles_role ON profiles(role);
CREATE INDEX idx_profiles_status ON profiles(status);

-- Trigger: updated_at
CREATE TRIGGER trg_profiles_updated_at
  BEFORE UPDATE ON profiles
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

-- RLS
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;

-- Users can read their own profile
CREATE POLICY "profiles_select_own"
  ON profiles FOR SELECT
  USING (auth.uid() = id);

-- Users can update their own profile (limited fields)
CREATE POLICY "profiles_update_own"
  ON profiles FOR UPDATE
  USING (auth.uid() = id)
  WITH CHECK (auth.uid() = id);

-- Admin can read all profiles
CREATE POLICY "profiles_select_admin"
  ON profiles FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- ============================================================
-- 4. Table: user_preferences
-- ============================================================
CREATE TABLE user_preferences (
  id                        UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id                   UUID NOT NULL UNIQUE REFERENCES profiles(id) ON DELETE CASCADE,
  household_size            INT NOT NULL DEFAULT 2
                            CHECK (household_size > 0 AND household_size <= 20),
  default_meal_modes        JSONB NOT NULL DEFAULT '["lunch", "dinner"]'::jsonb,
  default_plan_days         INT NOT NULL DEFAULT 5
                            CHECK (default_plan_days >= 1 AND default_plan_days <= 7),
  dietary_preferences       JSONB NOT NULL DEFAULT '[]'::jsonb,
  dietary_restrictions      JSONB NOT NULL DEFAULT '[]'::jsonb,
  primary_goal              TEXT,
  preferred_recipe_contexts JSONB NOT NULL DEFAULT '[]'::jsonb,
  quiet_hours_enabled       BOOLEAN NOT NULL DEFAULT false,
  created_at                TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at                TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Indexes
CREATE INDEX idx_user_preferences_user_id ON user_preferences(user_id);

-- Trigger: updated_at
CREATE TRIGGER trg_user_preferences_updated_at
  BEFORE UPDATE ON user_preferences
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

-- RLS
ALTER TABLE user_preferences ENABLE ROW LEVEL SECURITY;

-- Users can read/write their own preferences
CREATE POLICY "user_preferences_select_own"
  ON user_preferences FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "user_preferences_insert_own"
  ON user_preferences FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "user_preferences_update_own"
  ON user_preferences FOR UPDATE
  USING (auth.uid() = user_id)
  WITH CHECK (auth.uid() = user_id);

-- Admin can read preferences for support
CREATE POLICY "user_preferences_select_admin"
  ON user_preferences FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- ============================================================
-- 5. Table: app_settings
-- ============================================================
CREATE TABLE app_settings (
  id          UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  setting_key TEXT NOT NULL UNIQUE,
  value_json  JSONB NOT NULL DEFAULT '{}'::jsonb,
  description TEXT,
  updated_by  UUID REFERENCES profiles(id),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Trigger: updated_at
CREATE TRIGGER trg_app_settings_updated_at
  BEFORE UPDATE ON app_settings
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

-- RLS
ALTER TABLE app_settings ENABLE ROW LEVEL SECURITY;

-- Only admin/super_admin can read/write
CREATE POLICY "app_settings_select_admin"
  ON app_settings FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

CREATE POLICY "app_settings_all_admin"
  ON app_settings FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- ============================================================
-- 6. Table: audit_logs
-- ============================================================
CREATE TABLE audit_logs (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  actor_user_id   UUID REFERENCES profiles(id),
  action          TEXT NOT NULL,
  entity_type     TEXT NOT NULL,
  entity_id       TEXT,
  metadata_json   JSONB DEFAULT '{}'::jsonb,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Indexes
CREATE INDEX idx_audit_logs_actor ON audit_logs(actor_user_id);
CREATE INDEX idx_audit_logs_entity_type ON audit_logs(entity_type);
CREATE INDEX idx_audit_logs_entity_id ON audit_logs(entity_id);
CREATE INDEX idx_audit_logs_created_at ON audit_logs(created_at DESC);

-- RLS
ALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;

-- Only admin/super_admin can read
CREATE POLICY "audit_logs_select_admin"
  ON audit_logs FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- Backend/service role can insert (no user-facing writes)
CREATE POLICY "audit_logs_insert_service"
  ON audit_logs FOR INSERT
  WITH CHECK (true);

-- ============================================================
-- 7. Auto-create profile on signup
-- ============================================================
CREATE OR REPLACE FUNCTION handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
  INSERT INTO profiles (id, email, full_name)
  VALUES (
    NEW.id,
    NEW.email,
    COALESCE(NEW.raw_user_meta_data->>'full_name', '')
  );
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION handle_new_user();
-- ============================================================
-- CARDAPPIO â€” Migration 002: Recipes (Lote 2)
-- ============================================================
-- Creates: recipe_categories, recipe_tags, recipes,
--          recipe_ingredients, recipe_steps, recipe_tag_links,
--          recipe_variations, favorite_recipes
-- ============================================================

-- 1. recipe_categories
CREATE TABLE recipe_categories (
  id          UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  name        TEXT NOT NULL,
  slug        TEXT NOT NULL UNIQUE,
  description TEXT,
  sort_order  INT NOT NULL DEFAULT 0,
  is_active   BOOLEAN NOT NULL DEFAULT true,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_recipe_categories_slug ON recipe_categories(slug);

CREATE TRIGGER trg_recipe_categories_updated_at
  BEFORE UPDATE ON recipe_categories
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE recipe_categories ENABLE ROW LEVEL SECURITY;

-- Any authenticated user can read active categories
CREATE POLICY "recipe_categories_select_authenticated"
  ON recipe_categories FOR SELECT
  USING (auth.uid() IS NOT NULL AND is_active = true);

-- Admin can manage categories
CREATE POLICY "recipe_categories_all_admin"
  ON recipe_categories FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 2. recipe_tags
CREATE TABLE recipe_tags (
  id          UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  name        TEXT NOT NULL,
  slug        TEXT NOT NULL UNIQUE,
  tag_type    TEXT NOT NULL DEFAULT 'context'
              CHECK (tag_type IN ('diet', 'difficulty', 'budget', 'context', 'family')),
  is_active   BOOLEAN NOT NULL DEFAULT true,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_recipe_tags_slug ON recipe_tags(slug);
CREATE INDEX idx_recipe_tags_type ON recipe_tags(tag_type);

ALTER TABLE recipe_tags ENABLE ROW LEVEL SECURITY;

CREATE POLICY "recipe_tags_select_authenticated"
  ON recipe_tags FOR SELECT
  USING (auth.uid() IS NOT NULL AND is_active = true);

CREATE POLICY "recipe_tags_all_admin"
  ON recipe_tags FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 3. recipes
CREATE TABLE recipes (
  id                UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  slug              TEXT NOT NULL UNIQUE,
  title             TEXT NOT NULL,
  subtitle          TEXT,
  cover_image_url   TEXT,
  difficulty_level  TEXT NOT NULL DEFAULT 'easy'
                    CHECK (difficulty_level IN ('easy', 'medium', 'hard')),
  cost_level        TEXT NOT NULL DEFAULT 'medium'
                    CHECK (cost_level IN ('low', 'medium', 'high')),
  prep_time_minutes INT NOT NULL DEFAULT 30
                    CHECK (prep_time_minutes > 0),
  servings          INT NOT NULL DEFAULT 4
                    CHECK (servings > 0),
  category_id       UUID REFERENCES recipe_categories(id) ON DELETE SET NULL,
  usage_context     TEXT,
  notes             TEXT,
  status            TEXT NOT NULL DEFAULT 'draft'
                    CHECK (status IN ('draft', 'published', 'archived')),
  is_featured       BOOLEAN NOT NULL DEFAULT false,
  is_premium        BOOLEAN NOT NULL DEFAULT false,
  published_at      TIMESTAMPTZ,
  created_by        UUID REFERENCES profiles(id),
  updated_by        UUID REFERENCES profiles(id),
  created_at        TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at        TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_recipes_slug ON recipes(slug);
CREATE INDEX idx_recipes_status ON recipes(status);
CREATE INDEX idx_recipes_category ON recipes(category_id);
CREATE INDEX idx_recipes_difficulty ON recipes(difficulty_level);
CREATE INDEX idx_recipes_cost ON recipes(cost_level);
CREATE INDEX idx_recipes_featured ON recipes(is_featured) WHERE is_featured = true;
CREATE INDEX idx_recipes_title_trgm ON recipes USING GIN (title gin_trgm_ops);

CREATE TRIGGER trg_recipes_updated_at
  BEFORE UPDATE ON recipes
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE recipes ENABLE ROW LEVEL SECURITY;

-- Authenticated users can read published recipes
CREATE POLICY "recipes_select_published"
  ON recipes FOR SELECT
  USING (auth.uid() IS NOT NULL AND status = 'published');

-- Admin can manage all recipes
CREATE POLICY "recipes_all_admin"
  ON recipes FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 4. recipe_ingredients
CREATE TABLE recipe_ingredients (
  id               UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  recipe_id        UUID NOT NULL REFERENCES recipes(id) ON DELETE CASCADE,
  name             TEXT NOT NULL,
  quantity_label   TEXT,
  normalized_name  TEXT,
  sort_order       INT NOT NULL DEFAULT 0,
  is_optional      BOOLEAN NOT NULL DEFAULT false,
  created_at       TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_recipe_ingredients_recipe ON recipe_ingredients(recipe_id);
CREATE INDEX idx_recipe_ingredients_normalized ON recipe_ingredients(normalized_name);

ALTER TABLE recipe_ingredients ENABLE ROW LEVEL SECURITY;

CREATE POLICY "recipe_ingredients_select_authenticated"
  ON recipe_ingredients FOR SELECT
  USING (auth.uid() IS NOT NULL);

CREATE POLICY "recipe_ingredients_all_admin"
  ON recipe_ingredients FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 5. recipe_steps
CREATE TABLE recipe_steps (
  id           UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  recipe_id    UUID NOT NULL REFERENCES recipes(id) ON DELETE CASCADE,
  step_number  INT NOT NULL,
  content      TEXT NOT NULL,
  created_at   TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_recipe_steps_recipe ON recipe_steps(recipe_id);

ALTER TABLE recipe_steps ENABLE ROW LEVEL SECURITY;

CREATE POLICY "recipe_steps_select_authenticated"
  ON recipe_steps FOR SELECT
  USING (auth.uid() IS NOT NULL);

CREATE POLICY "recipe_steps_all_admin"
  ON recipe_steps FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 6. recipe_tag_links (join table)
CREATE TABLE recipe_tag_links (
  id         UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  recipe_id  UUID NOT NULL REFERENCES recipes(id) ON DELETE CASCADE,
  tag_id     UUID NOT NULL REFERENCES recipe_tags(id) ON DELETE CASCADE,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(recipe_id, tag_id)
);

CREATE INDEX idx_recipe_tag_links_recipe ON recipe_tag_links(recipe_id);
CREATE INDEX idx_recipe_tag_links_tag ON recipe_tag_links(tag_id);

ALTER TABLE recipe_tag_links ENABLE ROW LEVEL SECURITY;

CREATE POLICY "recipe_tag_links_select_authenticated"
  ON recipe_tag_links FOR SELECT
  USING (auth.uid() IS NOT NULL);

CREATE POLICY "recipe_tag_links_all_admin"
  ON recipe_tag_links FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 7. recipe_variations
CREATE TABLE recipe_variations (
  id                UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  parent_recipe_id  UUID NOT NULL REFERENCES recipes(id) ON DELETE CASCADE,
  variation_title   TEXT NOT NULL,
  variation_notes   TEXT,
  linked_recipe_id  UUID REFERENCES recipes(id) ON DELETE SET NULL,
  created_at        TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at        TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_recipe_variations_parent ON recipe_variations(parent_recipe_id);

CREATE TRIGGER trg_recipe_variations_updated_at
  BEFORE UPDATE ON recipe_variations
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE recipe_variations ENABLE ROW LEVEL SECURITY;

CREATE POLICY "recipe_variations_select_authenticated"
  ON recipe_variations FOR SELECT
  USING (auth.uid() IS NOT NULL);

CREATE POLICY "recipe_variations_all_admin"
  ON recipe_variations FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 8. favorite_recipes
CREATE TABLE favorite_recipes (
  id         UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id    UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  recipe_id  UUID NOT NULL REFERENCES recipes(id) ON DELETE CASCADE,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(user_id, recipe_id)
);

CREATE INDEX idx_favorite_recipes_user ON favorite_recipes(user_id);
CREATE INDEX idx_favorite_recipes_recipe ON favorite_recipes(recipe_id);

ALTER TABLE favorite_recipes ENABLE ROW LEVEL SECURITY;

CREATE POLICY "favorite_recipes_select_own"
  ON favorite_recipes FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "favorite_recipes_insert_own"
  ON favorite_recipes FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "favorite_recipes_delete_own"
  ON favorite_recipes FOR DELETE
  USING (auth.uid() = user_id);
-- ============================================================
-- CARDAPPIO â€” Migration 003: Planning (Lote 3)
-- ============================================================
-- Creates: meal_plan_weeks, meal_plan_days, meal_plan_slots,
--          shopping_lists, shopping_list_items
-- ============================================================

-- 1. meal_plan_weeks
CREATE TABLE meal_plan_weeks (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id         UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  title           TEXT,
  week_start_date DATE NOT NULL,
  week_end_date   DATE NOT NULL,
  status          TEXT NOT NULL DEFAULT 'draft'
                  CHECK (status IN ('draft', 'active', 'archived')),
  is_template     BOOLEAN NOT NULL DEFAULT false,
  source_week_id  UUID REFERENCES meal_plan_weeks(id) ON DELETE SET NULL,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_meal_plan_weeks_user ON meal_plan_weeks(user_id);
CREATE INDEX idx_meal_plan_weeks_status ON meal_plan_weeks(status);
CREATE INDEX idx_meal_plan_weeks_start_date ON meal_plan_weeks(week_start_date DESC);
CREATE INDEX idx_meal_plan_weeks_user_active ON meal_plan_weeks(user_id, status)
  WHERE status = 'active';

CREATE TRIGGER trg_meal_plan_weeks_updated_at
  BEFORE UPDATE ON meal_plan_weeks
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE meal_plan_weeks ENABLE ROW LEVEL SECURITY;

-- User can manage their own weeks
CREATE POLICY "meal_plan_weeks_select_own"
  ON meal_plan_weeks FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "meal_plan_weeks_insert_own"
  ON meal_plan_weeks FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "meal_plan_weeks_update_own"
  ON meal_plan_weeks FOR UPDATE
  USING (auth.uid() = user_id)
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "meal_plan_weeks_delete_own"
  ON meal_plan_weeks FOR DELETE
  USING (auth.uid() = user_id);

-- 2. meal_plan_days
CREATE TABLE meal_plan_days (
  id             UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  week_id        UUID NOT NULL REFERENCES meal_plan_weeks(id) ON DELETE CASCADE,
  day_of_week    TEXT NOT NULL
                 CHECK (day_of_week IN ('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')),
  date_reference DATE,
  sort_order     INT NOT NULL DEFAULT 0,
  created_at     TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_meal_plan_days_week ON meal_plan_days(week_id);

ALTER TABLE meal_plan_days ENABLE ROW LEVEL SECURITY;

-- Owner of the week can manage days
CREATE POLICY "meal_plan_days_select_own"
  ON meal_plan_days FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM meal_plan_weeks w
      WHERE w.id = week_id AND w.user_id = auth.uid()
    )
  );

CREATE POLICY "meal_plan_days_insert_own"
  ON meal_plan_days FOR INSERT
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM meal_plan_weeks w
      WHERE w.id = week_id AND w.user_id = auth.uid()
    )
  );

CREATE POLICY "meal_plan_days_update_own"
  ON meal_plan_days FOR UPDATE
  USING (
    EXISTS (
      SELECT 1 FROM meal_plan_weeks w
      WHERE w.id = week_id AND w.user_id = auth.uid()
    )
  );

CREATE POLICY "meal_plan_days_delete_own"
  ON meal_plan_days FOR DELETE
  USING (
    EXISTS (
      SELECT 1 FROM meal_plan_weeks w
      WHERE w.id = week_id AND w.user_id = auth.uid()
    )
  );

-- 3. meal_plan_slots
CREATE TABLE meal_plan_slots (
  id          UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  day_id      UUID NOT NULL REFERENCES meal_plan_days(id) ON DELETE CASCADE,
  meal_type   TEXT NOT NULL
              CHECK (meal_type IN ('lunch', 'dinner')),
  recipe_id   UUID REFERENCES recipes(id) ON DELETE SET NULL,
  sort_order  INT NOT NULL DEFAULT 0,
  created_at  TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at  TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_meal_plan_slots_day ON meal_plan_slots(day_id);
CREATE INDEX idx_meal_plan_slots_recipe ON meal_plan_slots(recipe_id);

CREATE TRIGGER trg_meal_plan_slots_updated_at
  BEFORE UPDATE ON meal_plan_slots
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE meal_plan_slots ENABLE ROW LEVEL SECURITY;

-- Owner of the week (via day) can manage slots
CREATE POLICY "meal_plan_slots_select_own"
  ON meal_plan_slots FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM meal_plan_days d
      JOIN meal_plan_weeks w ON w.id = d.week_id
      WHERE d.id = day_id AND w.user_id = auth.uid()
    )
  );

CREATE POLICY "meal_plan_slots_insert_own"
  ON meal_plan_slots FOR INSERT
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM meal_plan_days d
      JOIN meal_plan_weeks w ON w.id = d.week_id
      WHERE d.id = day_id AND w.user_id = auth.uid()
    )
  );

CREATE POLICY "meal_plan_slots_update_own"
  ON meal_plan_slots FOR UPDATE
  USING (
    EXISTS (
      SELECT 1 FROM meal_plan_days d
      JOIN meal_plan_weeks w ON w.id = d.week_id
      WHERE d.id = day_id AND w.user_id = auth.uid()
    )
  );

CREATE POLICY "meal_plan_slots_delete_own"
  ON meal_plan_slots FOR DELETE
  USING (
    EXISTS (
      SELECT 1 FROM meal_plan_days d
      JOIN meal_plan_weeks w ON w.id = d.week_id
      WHERE d.id = day_id AND w.user_id = auth.uid()
    )
  );

-- 4. shopping_lists
CREATE TABLE shopping_lists (
  id            UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id       UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  week_id       UUID NOT NULL REFERENCES meal_plan_weeks(id) ON DELETE CASCADE,
  status        TEXT NOT NULL DEFAULT 'active'
                CHECK (status IN ('active', 'archived')),
  generated_at  TIMESTAMPTZ,
  created_at    TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at    TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_shopping_lists_user ON shopping_lists(user_id);
CREATE INDEX idx_shopping_lists_week ON shopping_lists(week_id);
CREATE UNIQUE INDEX idx_shopping_lists_user_week ON shopping_lists(user_id, week_id);

CREATE TRIGGER trg_shopping_lists_updated_at
  BEFORE UPDATE ON shopping_lists
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE shopping_lists ENABLE ROW LEVEL SECURITY;

CREATE POLICY "shopping_lists_select_own"
  ON shopping_lists FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "shopping_lists_insert_own"
  ON shopping_lists FOR INSERT
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "shopping_lists_update_own"
  ON shopping_lists FOR UPDATE
  USING (auth.uid() = user_id)
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "shopping_lists_delete_own"
  ON shopping_lists FOR DELETE
  USING (auth.uid() = user_id);

-- 5. shopping_list_items
CREATE TABLE shopping_list_items (
  id                UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  shopping_list_id  UUID NOT NULL REFERENCES shopping_lists(id) ON DELETE CASCADE,
  ingredient_label  TEXT NOT NULL,
  normalized_name   TEXT,
  quantity_label    TEXT,
  source_recipe_count INT NOT NULL DEFAULT 1,
  is_checked        BOOLEAN NOT NULL DEFAULT false,
  sort_order        INT NOT NULL DEFAULT 0,
  created_at        TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at        TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_shopping_list_items_list ON shopping_list_items(shopping_list_id);
CREATE INDEX idx_shopping_list_items_checked ON shopping_list_items(is_checked);

CREATE TRIGGER trg_shopping_list_items_updated_at
  BEFORE UPDATE ON shopping_list_items
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE shopping_list_items ENABLE ROW LEVEL SECURITY;

-- Owner of the list can manage items
CREATE POLICY "shopping_list_items_select_own"
  ON shopping_list_items FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM shopping_lists sl
      WHERE sl.id = shopping_list_id AND sl.user_id = auth.uid()
    )
  );

CREATE POLICY "shopping_list_items_insert_own"
  ON shopping_list_items FOR INSERT
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM shopping_lists sl
      WHERE sl.id = shopping_list_id AND sl.user_id = auth.uid()
    )
  );

CREATE POLICY "shopping_list_items_update_own"
  ON shopping_list_items FOR UPDATE
  USING (
    EXISTS (
      SELECT 1 FROM shopping_lists sl
      WHERE sl.id = shopping_list_id AND sl.user_id = auth.uid()
    )
  );

CREATE POLICY "shopping_list_items_delete_own"
  ON shopping_list_items FOR DELETE
  USING (
    EXISTS (
      SELECT 1 FROM shopping_lists sl
      WHERE sl.id = shopping_list_id AND sl.user_id = auth.uid()
    )
  );
-- ============================================================
-- CARDAPPIO â€” Migration 004: Editorial Content (Lote 4)
-- ============================================================
-- Creates: recipe_collections, recipe_collection_items,
--          editorial_notices
-- ============================================================

-- 1. recipe_collections
CREATE TABLE recipe_collections (
  id                UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  title             TEXT NOT NULL,
  slug              TEXT NOT NULL UNIQUE,
  description       TEXT,
  cover_image_url   TEXT,
  is_active         BOOLEAN NOT NULL DEFAULT true,
  is_premium        BOOLEAN NOT NULL DEFAULT false,
  sort_order        INT NOT NULL DEFAULT 0,
  starts_at         TIMESTAMPTZ,
  ends_at           TIMESTAMPTZ,
  created_at        TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at        TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_recipe_collections_slug ON recipe_collections(slug);
CREATE INDEX idx_recipe_collections_active ON recipe_collections(is_active);
CREATE INDEX idx_recipe_collections_premium ON recipe_collections(is_premium);

CREATE TRIGGER trg_recipe_collections_updated_at
  BEFORE UPDATE ON recipe_collections
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE recipe_collections ENABLE ROW LEVEL SECURITY;

-- Reading active collections (premium check handled in app logic or separate policy)
CREATE POLICY "recipe_collections_select_active"
  ON recipe_collections FOR SELECT
  USING (is_active = true);

-- Admin can manage
CREATE POLICY "recipe_collections_all_admin"
  ON recipe_collections FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 2. recipe_collection_items (relational table)
CREATE TABLE recipe_collection_items (
  id             UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  collection_id  UUID NOT NULL REFERENCES recipe_collections(id) ON DELETE CASCADE,
  recipe_id      UUID NOT NULL REFERENCES recipes(id) ON DELETE CASCADE,
  sort_order     INT NOT NULL DEFAULT 0,
  created_at     TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE(collection_id, recipe_id)
);

CREATE INDEX idx_recipe_collection_items_coll ON recipe_collection_items(collection_id);
CREATE INDEX idx_recipe_collection_items_recipe ON recipe_collection_items(recipe_id);

ALTER TABLE recipe_collection_items ENABLE ROW LEVEL SECURITY;

CREATE POLICY "recipe_collection_items_select"
  ON recipe_collection_items FOR SELECT
  USING (true);

CREATE POLICY "recipe_collection_items_all_admin"
  ON recipe_collection_items FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 3. editorial_notices (Tips, Alerts, Seasonal content)
CREATE TABLE editorial_notices (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  title           TEXT NOT NULL,
  body            TEXT NOT NULL,
  notice_type     TEXT NOT NULL CHECK (notice_type IN ('tip', 'alert', 'seasonal', 'premium')),
  target_audience TEXT NOT NULL DEFAULT 'all' CHECK (target_audience IN ('all', 'free', 'premium')),
  is_active       BOOLEAN NOT NULL DEFAULT true,
  starts_at       TIMESTAMPTZ,
  ends_at         TIMESTAMPTZ,
  created_by      UUID REFERENCES profiles(id),
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_editorial_notices_active ON editorial_notices(is_active);
CREATE INDEX idx_editorial_notices_type ON editorial_notices(notice_type);

CREATE TRIGGER trg_editorial_notices_updated_at
  BEFORE UPDATE ON editorial_notices
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE editorial_notices ENABLE ROW LEVEL SECURITY;

CREATE POLICY "editorial_notices_select_active"
  ON editorial_notices FOR SELECT
  USING (
    is_active = true 
    AND (starts_at IS NULL OR starts_at <= now())
    AND (ends_at IS NULL OR ends_at >= now())
  );

CREATE POLICY "editorial_notices_all_admin"
  ON editorial_notices FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );
-- ============================================================
-- CARDAPPIO â€” Migration 005: Subscriptions (Lote 5)
-- ============================================================
-- Creates: subscription_plans, user_subscriptions
-- Includes: RLS policies, indexed searches
-- ============================================================

-- 1. subscription_plans
CREATE TABLE subscription_plans (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  name            TEXT NOT NULL,
  slug            TEXT NOT NULL UNIQUE,
  description     TEXT,
  price_monthly   DECIMAL(10,2) NOT NULL,
  price_yearly    DECIMAL(10,2) NOT NULL,
  trial_days      INT NOT NULL DEFAULT 0,
  features        JSONB NOT NULL DEFAULT '[]'::jsonb,
  is_active       BOOLEAN NOT NULL DEFAULT true,
  stripe_price_id_monthly TEXT,
  stripe_price_id_yearly  TEXT,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE TRIGGER trg_subscription_plans_updated_at
  BEFORE UPDATE ON subscription_plans
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE subscription_plans ENABLE ROW LEVEL SECURITY;

CREATE POLICY "subscription_plans_select_active"
  ON subscription_plans FOR SELECT
  USING (is_active = true);

-- 2. user_subscriptions
CREATE TABLE user_subscriptions (
  id                  UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id             UUID NOT NULL UNIQUE REFERENCES profiles(id) ON DELETE CASCADE,
  plan_id             UUID NOT NULL REFERENCES subscription_plans(id),
  status              TEXT NOT NULL CHECK (status IN ('active', 'past_due', 'canceled', 'trialing', 'incomplete')),
  tier                TEXT NOT NULL DEFAULT 'free' CHECK (tier IN ('free', 'premium', 'gold')),
  billing_cycle       TEXT NOT NULL CHECK (billing_cycle IN ('monthly', 'yearly', 'lifetime')),
  current_period_end  TIMESTAMPTZ,
  cancel_at_period_end BOOLEAN NOT NULL DEFAULT false,
  stripe_customer_id  TEXT,
  stripe_subscription_id TEXT,
  created_at          TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at          TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_user_subscriptions_user ON user_subscriptions(user_id);
CREATE INDEX idx_user_subscriptions_status ON user_subscriptions(status);

CREATE TRIGGER trg_user_subscriptions_updated_at
  BEFORE UPDATE ON user_subscriptions
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE user_subscriptions ENABLE ROW LEVEL SECURITY;

CREATE POLICY "user_subscriptions_select_own"
  ON user_subscriptions FOR SELECT
  USING (auth.uid() = user_id);

-- Admin management
CREATE POLICY "subscription_plans_all_admin"
  ON subscription_plans FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

CREATE POLICY "user_subscriptions_select_admin"
  ON user_subscriptions FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );
-- ============================================================
-- CARDAPPIO â€” Migration 006: Notifications (Lote 6)
-- ============================================================
-- Creates: notifications
-- Includes: RLS, indexes for fast unread count
-- ============================================================

CREATE TABLE notifications (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id         UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  title           TEXT NOT NULL,
  body            TEXT NOT NULL,
  type            TEXT NOT NULL CHECK (type IN ('meal_reminder', 'system', 'promotion', 'subscription')),
  action_url      TEXT,
  is_read         BOOLEAN NOT NULL DEFAULT false,
  read_at         TIMESTAMPTZ,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_notifications_user_unread ON notifications(user_id) WHERE is_read = false;
CREATE INDEX idx_notifications_created_at ON notifications(created_at DESC);

ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY "notifications_select_own"
  ON notifications FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "notifications_update_own"
  ON notifications FOR UPDATE
  USING (auth.uid() = user_id)
  WITH CHECK (auth.uid() = user_id);

CREATE POLICY "notifications_insert_system"
  ON notifications FOR INSERT
  WITH CHECK (true); -- Backend triggers/services will insert
-- ============================================================
-- CARDAPPIO â€” Migration 007: Advanced Notifications (Lote 6 cont.)
-- ============================================================
-- Creates: notification_queue, notification_delivery_logs,
--          notification_preferences
-- ============================================================

-- 1. notification_preferences
CREATE TABLE notification_preferences (
  id                  UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id             UUID NOT NULL UNIQUE REFERENCES profiles(id) ON DELETE CASCADE,
  meal_reminders      BOOLEAN NOT NULL DEFAULT true,
  daily_summary       BOOLEAN NOT NULL DEFAULT false,
  marketing_alerts    BOOLEAN NOT NULL DEFAULT true,
  system_updates      BOOLEAN NOT NULL DEFAULT true,
  push_enabled        BOOLEAN NOT NULL DEFAULT false,
  push_token          TEXT,
  updated_at          TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_notif_pref_user ON notification_preferences(user_id);

CREATE TRIGGER trg_notif_pref_updated_at
  BEFORE UPDATE ON notification_preferences
  FOR EACH ROW EXECUTE FUNCTION touch_updated_at();

ALTER TABLE notification_preferences ENABLE ROW LEVEL SECURITY;

CREATE POLICY "notif_pref_select_own"
  ON notification_preferences FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "notif_pref_all_own"
  ON notification_preferences FOR ALL
  USING (auth.uid() = user_id);

-- 2. notification_queue (For async processing)
CREATE TABLE notification_queue (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id         UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  title           TEXT NOT NULL,
  body            TEXT NOT NULL,
  type            TEXT NOT NULL,
  payload_json    JSONB DEFAULT '{}'::jsonb,
  scheduled_for   TIMESTAMPTZ NOT NULL DEFAULT now(),
  status          TEXT NOT NULL DEFAULT 'pending' CHECK (status IN ('pending', 'processing', 'sent', 'failed')),
  attempts        INT NOT NULL DEFAULT 0,
  last_error      TEXT,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_notif_queue_status_date ON notification_queue(status, scheduled_for);

ALTER TABLE notification_queue ENABLE ROW LEVEL SECURITY;

-- Only service role/admin can manage queue
CREATE POLICY "notif_queue_all_admin"
  ON notification_queue FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 3. notification_delivery_logs
CREATE TABLE notification_delivery_logs (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  notification_id UUID REFERENCES notifications(id) ON DELETE SET NULL,
  user_id         UUID REFERENCES profiles(id) ON DELETE CASCADE,
  channel         TEXT NOT NULL CHECK (channel IN ('in_app', 'push', 'email', 'sms')),
  status          TEXT NOT NULL,
  error_message   TEXT,
  metadata        JSONB DEFAULT '{}'::jsonb,
  delivered_at    TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_notif_logs_user ON notification_delivery_logs(user_id);
CREATE INDEX idx_notif_logs_delivered ON notification_delivery_logs(delivered_at DESC);

ALTER TABLE notification_delivery_logs ENABLE ROW LEVEL SECURITY;

CREATE POLICY "notif_logs_select_admin"
  ON notification_delivery_logs FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );
-- ============================================================
-- CARDAPPIO â€” Migration 008: Security Audit & Structural Fixes
-- ============================================================
-- 1. Standardizes Admin/Super Admin access across all tables
-- 2. Adds missing subscription_events and webhook_events tables
-- 3. Refines recipe visibility based on premium tiers
-- ============================================================

-- 1. Helper Function: Is User Premium?
CREATE OR REPLACE FUNCTION is_premium_user(target_user_id UUID)
RETURNS BOOLEAN AS $$
BEGIN
  RETURN EXISTS (
    SELECT 1 FROM user_subscriptions
    WHERE user_id = target_user_id
    AND status IN ('active', 'trialing')
    AND tier IN ('premium', 'gold')
  );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- 2. Table: subscription_events (Missing from Lot 5)
CREATE TABLE subscription_events (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id         UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  event_type      TEXT NOT NULL,
  provider_id     TEXT, -- Stripe event id
  payload         JSONB DEFAULT '{}'::jsonb,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_sub_events_user ON subscription_events(user_id);
CREATE INDEX idx_sub_events_created ON subscription_events(created_at DESC);

ALTER TABLE subscription_events ENABLE ROW LEVEL SECURITY;

CREATE POLICY "sub_events_select_own"
  ON subscription_events FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "sub_events_select_admin"
  ON subscription_events FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 3. Table: processed_webhook_events (Idempotency)
CREATE TABLE processed_webhook_events (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  provider        TEXT NOT NULL,
  provider_event_id TEXT NOT NULL UNIQUE,
  processed_at    TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE processed_webhook_events ENABLE ROW LEVEL SECURITY;

-- Only admin/service role
CREATE POLICY "processed_webhooks_admin"
  ON processed_webhook_events FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 4. Refine Recipe RLS (Access Control)
DROP POLICY IF EXISTS "recipes_select_published" ON recipes;

CREATE POLICY "recipes_select_access"
  ON recipes FOR SELECT
  USING (
    (auth.uid() IS NOT NULL AND status = 'published' AND (is_premium = false OR is_premium_user(auth.uid())))
    OR
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 5. Standardize Admin Access for Audit Logs
DROP POLICY IF EXISTS "audit_logs_select_admin" ON audit_logs;
CREATE POLICY "audit_logs_admin_all"
  ON audit_logs FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

-- 6. Ensure recipe_categories/tags management for Super Admin
DROP POLICY IF EXISTS "recipe_categories_all_admin" ON recipe_categories;
CREATE POLICY "recipe_categories_manage"
  ON recipe_categories FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );

DROP POLICY IF EXISTS "recipe_tags_all_admin" ON recipe_tags;
CREATE POLICY "recipe_tags_manage"
  ON recipe_tags FOR ALL
  USING (
    EXISTS (
      SELECT 1 FROM profiles p
      WHERE p.id = auth.uid()
      AND p.role IN ('admin', 'super_admin')
    )
  );
-- ============================================================
-- CARDAPPIO â€” Migration 009: Resource Sharing (Fase 2)
-- ============================================================
-- Creates: resource_shares
-- Purpose: Temporary shared access to weeks or shopping lists.
-- ============================================================

CREATE TABLE resource_shares (
  id              UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  token           TEXT NOT NULL UNIQUE,
  resource_type   TEXT NOT NULL CHECK (resource_type IN ('week', 'list')),
  resource_id     UUID NOT NULL,
  user_id         UUID NOT NULL REFERENCES profiles(id) ON DELETE CASCADE,
  expires_at      TIMESTAMPTZ NOT NULL,
  access_count    INT NOT NULL DEFAULT 0,
  created_at      TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX idx_resource_shares_token ON resource_shares(token);
CREATE INDEX idx_resource_shares_resource ON resource_shares(resource_type, resource_id);
CREATE INDEX idx_resource_shares_expires ON resource_shares(expires_at);

ALTER TABLE resource_shares ENABLE ROW LEVEL SECURITY;

-- Owner can manage their shares
CREATE POLICY "resource_shares_manage_own"
  ON resource_shares FOR ALL
  USING (auth.uid() = user_id);

-- Public can select valid shares
CREATE POLICY "resource_shares_select_public"
  ON resource_shares FOR SELECT
  USING (
    expires_at > now()
  );

-- Permission helpers for shared access (internal)
-- This would be used in RPCs or specific Select policies for resources
-- For now, we keep it simple as a registry for the Edge Function to validate.
